@charset "UTF-8";
.main{font-size: 50px; border: solid 6px white; width: 500px;
 color: rgb(104, 214, 77); }
 .form{text-align: right; direction: ltr; color: blue;}
 input[type="email"]
 {background-color: rgba(255, 255, 255, 0.849); }
 input[type="password"]
 {background-color: rgba(255, 255, 255, 0.836); }
 input[type="number"]
 {background-color: white; }
 input[type="email"]:hover
 {background-color: rgb(199, 252, 9); }
 input[type="password"]:hover
 {background-color: yellow; }
 input[type="number"]:hover
 {background-color: yellow;}
 input[type="submit"]:hover
 {background-color: yellow;
 font-size: 14px;}


.fuck{
   color: white;
   width: 40%;
   height: 200px;
   border: solid white 8px;
   padding-left:15px;
   background-color:rgb(96, 55, 192);
   font-family: cursive;
   font-weight: bolder;
    line-height: 25px;
    letter-spacing: 1px;
    text-align: left;
    direction: rtl;
    font-style: oblique;
  overflow: auto;}


a{color: red;
text-decoration: underline;
}
a:hover{color: black; font-size: 17px;
background-color:aqua}

.table{color: black;}

 .tr{color: white;}

 body{background-image: url(4.jpg);
background-size: 20px;
background-repeat:no-repeat;
background-position: 10px  40px;
background-position: center;
background-attachment: fixed;}

.a,.b{background-color: red;
  display:block;/*مش شغاله بس المفروض تفصل و تربط العناصر*/
width: 50px;
margin: 5px;
float:  right;}

.c{
border: solid black 2px;
position: fixed;
background-color: #00303F;
width: 6%;
top: 0;}
